{% set active_page = "dashboard" %}
{% extends "cashier/header.html" %}
{% block index %}
<div class="container-fluid">
    <div class="row">

        <!-- Pending Requests Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Approved Petty Cash Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ approved_purchase_request[0] }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-thumbs-up fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>  
</div>
{% endblock %}