{% set active_page = "incoming" %}
{% extends "head/header.html" %}
{% block index %}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Incoming Requests</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Request Type</th>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in petty_cash %}
                            <tr>
                                <td>Petty Cash</td>
                                <td>{{i[5]}}</td>
                                <td>{{i[9]}}</td>
                                <td>
                                    {% if i[13] == 'APPROVED' %}
                                        <b class="text-success">{{i[13]}}</b>
                                    {% elif i[13] == 'CANCELLED' %}
                                        <b class="text-danger">{{i[13]}}</b>
                                    {% else %}
                                        <b class="text-danger">PENDING FOR APPROVAL OF {{i[13]}}</b>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a class="btn btn-primary btn-sm" href="/view_petty_cash_form/{{i[0]}}"><i class="fas fa-eye"></i> More Details</a>
                                        <a class="btn btn-info btn-sm" href="static/uploads/{{i[14]}}" target="_blank"><i class="fas fa-file"></i> View File</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        {% for i in purchase_request %}
                            <tr>
                                <td>Purchase Request</td>
                                <td>{{i[3]}}</td>
                                <td>{{i[11]}}</td>
                                <td>
                                    {% if i[22] == 'APPROVED' %}
                                        <b class="text-success">{{i[22]}}</b>
                                    {% elif i[22] == 'CANCELLED' %}
                                        <b class="text-danger">{{i[22]}}</b>
                                    {% else %}
                                        <b class="text-danger">PENDING FOR APPROVAL OF {{i[22]}}</b>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a class="btn btn-primary btn-sm" href="/view_purchase_request_form/{{i[0]}}"><i class="fas fa-eye"></i> More Details</a>
                                        <a class="btn btn-info btn-sm" href="static/uploads/{{i[25]}}" target="_blank"><i class="fas fa-file"></i> View File</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}