<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/routing">
        <div class="sidebar-brand-text mx-3">{{data[8]}}</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li {% if active_page=="dashboard" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Forms
    </div>

    <li {% if active_page=="purchase_request" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="/purchase_request_form">
            <i class="fas fa-fw fa-shopping-cart"></i>
            <span>Purchase Request</span></a>
    </li>
    
    <li {% if active_page=="petty_cash" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="/petty_cash_form">
            <i class="fas fa-fw fa-money-bill-wave"></i>
            <span>Petty Cash</span></a>
    </li>

    <hr class="sidebar-divider">
   
    <!-- Heading -->
    <div class="sidebar-heading">
        My Requests
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <!-- Nav Item - Charts -->
    <li {% if active_page=="pending_purchase_request" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="/view_purchase_request_forms">
            <i class="fas fa-fw fa-list-ol"></i>
            <span>Purchase Requests</span></a>
    </li>

    <li {% if active_page=="pending_petty_cash" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="/view_petty_cash_forms">
            <i class="fas fa-fw fa-indent"></i>
            <span>Petty Cash Requests</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>