<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Requisition System</title>

    <!-- Custom fonts for this template-->
    <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static',filename='vendor/sweetalert/sweetalert.css')}}">
    <!-- Custom styles for this template-->
    <link href="{{url_for('static',filename='css/sb-admin-2.css')}}" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static',filename='img/smcc-logo.png')}}">


</head>

<body class="bg-gradient-light">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                       
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block"> 
                                <img src="/static/img/Smcc_logo.jpeg">
                                <h1 class="display-5 font-weight-bold home-text a text-center"> Requisition System </h1>
                                <hr class="new5">
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <hr>
                                    <div class="text-center">
                                        <h1 class="h5 text-gray-900 mb-4">Please enter your email address</h1>
                                    </div>
                                    <form class="user" id="forgot">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-lg"
                                                name="email" aria-describedby="emailHelp"
                                                placeholder="Email">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
                                        <br>
                                        <div class="text-center">
                                            <a class="small" href="/login">Proceed to login page</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
	<script src="{{url_for('static',filename='vendor/sweetalert/sweetalert.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{url_for('static',filename='js/sb-admin-2.min.js')}}"></script>

    <script>
        $(document).ready(function(){
         
		    $('#forgot').on('submit', function(event){ 
                alert
			    event.preventDefault();
                
                email = $("input[name='email']").val();
                const url = '/forgot_process';

                $.post(url, {email}, (response) => {
                    if (response == 'success') {
                        swal({
                            title: "System Message",
                            text: 'Request submitted successfully. Our admins will review your request and will send an email with your new password. Thank you',
                            type: "success",
                            confirmButtonClass: "btn-primary",
                            confirmButtonText: "Okay!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function(isConfirm) {
                            if (isConfirm) {
                                window.location = '/login';
                            }
                        });
                    }
                });
            });
    
        });
    </script>

</body>

</html>