{% set active_page = "department" %}
{% extends "header.html" %}
{% block index %}

<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <h2 class="mb-2 text-gray-800">Departments</h2> -->
    <button class="btn btn-primary btn-sm mb-0" data-toggle="modal" data-target='#addDepartment'><i
            class="fa fa-plus"></i> ADD DEPARTMENT / OFFICE</button>
    <br><br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Department / Office List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Department / Office</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td>
                                {% if i[2] == 'Active' %}
                                <span style="color: green;">{{i[2]}}</span>
                                {% else %}
                                <span style="color: red;">{{i[2]}}</span>
                                {% endif %}
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                    data-target="#edit{{i[0]}}" title="Edit"><i class="fa fa-edit"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Add Department Modal -->
    <div class="modal fade" id="addDepartment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Department / Office</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form action="/add_department" method="POST">
                    <div class="modal-body">
                        <input type="text" name="department" class="form-control" placeholder="Enter data here"
                            required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    {% for i in data %}
    <!-- Edit Department Modal -->
    <div class="modal fade" id="edit{{i[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Department / Office</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form action="/edit_department" method="POST">
                    <div class="modal-body">
                        <input type="hidden" name="id" value="{{i[0]}}">
                        <input type="text" name="department" class="form-control" value="{{i[1]}}"
                            placeholder="Enter data here" required>
                        <select class="form-control" name="status" required>
                            <option selected value="" disabled hidden>Status</option>
                            {% if i[2] == 'Active' %}
                            <option selected>Active</option>
                            {% else %}
                            <option>Active</option>
                            {% endif %}

                            {% if i[2] == 'Inactive' %}
                            <option selected>Inactive</option>
                            {% else %}
                            <option>Inactive</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}